version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: springboot-backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend_java/p2p/target:/app/target
    networks:
      - my-network
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: react-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - my-network
    restart: always

networks:
  my-network:
    driver: bridge